## Testing Autor results

First I am going to use his same process to get data

In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
import statistics
import datetime
import scipy.optimize as spopt
import datetime
import warnings

In [96]:
user=1
if user ==1:
    path = "/Users/lucadaquanno/Desktop/Documents/CIOS.Analyse/Return_forecasting/tests/Conditional_bootstrapping/Test_2/"

## Input generation

In [97]:
X=pd.read_excel(path+"test_Entropy_min_prob2.xlsx",header=None)
J=X.shape[0]

In [98]:
X.columns=['Stock1','Stock2']
start=datetime.datetime(2008,1,31)
end=datetime.datetime(2023,2,28)
t_index=pd.bdate_range(start,end)[:J]
X.index=t_index
X
p_0 = pd.Series(np.ones(J)/J,index=X.index) #equally weighted prior
p_0

2008-01-31    0.1
2008-02-01    0.1
2008-02-04    0.1
2008-02-05    0.1
2008-02-06    0.1
2008-02-07    0.1
2008-02-08    0.1
2008-02-11    0.1
2008-02-12    0.1
2008-02-13    0.1
Freq: B, dtype: float64

In [129]:
Q=np.array([1,-1 ])
Mu_Q=np.array([.5,0.3])
G=np.array([1,-1])

In [131]:
SecMom=G.T.dot(Mu_Q.T.dot(Mu_Q)).dot(G)
SecMom

0.6799999999999999

In [100]:
H=pd.DataFrame(np.ones(len(p_0)),index=p_0.index,columns=['ones']).T
h=pd.Series([1],index=H.index)

In [101]:
Q=pd.DataFrame([1,-1],index=X.columns).T # positive view on the first asset class, negative view on the second
Mu_Q=pd.Series(0.5)  # %expectation on market returns
QX=X.dot(Q.T)
G=pd.DataFrame([-1,1],index=X.columns).T  # views on the covariances
Sigma_G=.5**2; # constraint on the second moment
GX=X.dot(G.T)

In [102]:
QX

                  0
2008-01-31  1.26122
2008-02-01  1.08044
2008-02-04 -1.17760
2008-02-05 -2.51783
2008-02-06 -2.08803
2008-02-07 -1.26122
2008-02-08 -1.08044
2008-02-11  1.17760
2008-02-12  2.51783
2008-02-13  2.08803

In [103]:
F=pd.DataFrame(columns=X.index,index=['first_constraint','second_constraint'])
F.loc['first_constraint']=QX.T.values
F

,2008-01-31,2008-02-01,2008-02-04,2008-02-05,2008-02-06,2008-02-07,2008-02-08,2008-02-11,2008-02-12,2008-02-13
first_constraint,1.26122,1.08044,-1.1776,-2.51783,-2.08803,-1.26122,-1.08044,1.1776,2.51783,2.08803
second_constraint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
f=pd.Series(index=F.index)
SecMom=pd.DataFrame(index=F.index[1:])
SecMom.iloc[:]=

SyntaxError: invalid syntax (1663612274.py, line 3)

In [ ]:
G.dot(Mu_Q)

ValueError: matrices are not aligned

In [ ]:
print(SecMom)

Empty DataFrame
Columns: []
Index: [second_constraint]

In [ ]:
F

[[1.26122,
  1.08044,
  -1.1776,
  -2.51783,
  -2.08803,
  -1.26122,
  -1.08044,
  1.1776,
  2.51783,
  2.08803]]

In [ ]:
for k in np.arange(GX.shape[1]):
    for l in np.arange(k, GX.shape[1]):
        F.append(GX.iloc[:,k] * GX.iloc[:,l])
        f.append(SecMom.iloc[k, l])

In [ ]:
F

[[1.26122],
 [1.08044],
 [-1.1776],
 [-2.51783],
 [-2.08803],
 [-1.26122],
 [-1.08044],
 [1.1776],
 [2.51783],
 [2.08803],
 2008-01-31    1.590676
 2008-02-01    1.167351
 2008-02-04    1.386742
 2008-02-05    6.339468
 2008-02-06    4.359869
 2008-02-07    1.590676
 2008-02-08    1.167351
 2008-02-11    1.386742
 2008-02-12    6.339468
 2008-02-13    4.359869
 Freq: B, Name: 0, dtype: float64]